@(message: String)

@main("Welcome to Café Des Artistes! - What's Our Story?", "photos/3685062.jpg", "#D41780") {
  <div id="contactForm">
    <div class="venuebox">
      <p class="venue">what's our story?</p>
    </div>
    @*<div class="submenubox">*@
      @*<p class="subMenu"><a id="first" class="actlink" href="javascript:void(0);">concept and history</a>  .  <a id="second" href="javascript:void(0);">raphael berry</a>  .  <a id="third" href="javascript:void(0);">rhb group</a></p>*@
    @*</div>*@

    <div class="menubox">
      <p class="subMessage">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum magna eu magna
            iaculis ullamcorper. Donec bibendum euismod faucibus. Donec tincidunt mauris sit amet enim dapibus ut tempor
            leo volutpat. Donec leo risus, placerat sed fringilla sit amet, viverra non tortor. Cras eros nulla, semper
            ut cursus vel, porta non urna. Aenean non metus rhoncus velit facilisis vestibulum. Pellentesque porta
            semper leo a cursus.</p>
      <p class="subMessage">Aenean eget odio felis, non adipiscing purus. Quisque at erat id purus pulvinar semper at
            nec odio. Aliquam euismod placerat hendrerit. Vivamus a ipsum leo. Praesent nec est elit, eu consectetur
            nisi. Vivamus quis dui tortor, accumsan feugiat nulla. Praesent fringilla, libero eget dictum accumsan,
            tellus sapien porttitor libero, non euismod tellus augue quis justo. Nunc ac turpis quis justo.</p>
    </div>
  </div>
}
