@(message: String)

@main("Welcome to Café Des Artistes!", "photos/3685062.jpg","#D31345") {
    @*<div id="contactForm">*@
        @*<div class="venuebox">*@
            @*<p class="venue"></p>*@
        @*</div>*@
        @*<div class="submenubox">*@
            @*<p class="origMessage"></p>*@
        @*</div>*@
        @*<div class="menubox">*@
            @*<p class="subMessage"></p>*@
            @*<p class="subMessage"></p>*@
        @*</div>*@
    @*</div>*@
}

@*<!DOCTYPE html>
<html>
<head>
    <title>Play 2 with CloudFront</title>
<link type='text/css' rel='stylesheet' href='@RemoteAssets.getUrl("stylesheets/main.css")'/>
    <script type='text/javascript' src='@RemoteAssets.getUrl("jquery.min.js")'></script>
    <script type='text/javascript' src='@RemoteAssets.getUrl("javascripts/index.min.js")'></script>
</head>
<body>
<img src='@RemoteAssets.getUrl("images/favicon.png")' style="display: none;"/>
</body>
</html>
*@

@*
@(message: String)

@main("Welcome to Play 2.0") {
    
    @play20.welcome(message)
    
}
*@
